<!DOCTYPE html>
<html lang="pt-br">

<!--Cabeça/Head: Configurações da página.-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Titulo da página que aparece na aba.-->
    <title>Perfil</title>

    <!--Link: para connectar o html ao css.-->
    <link rel="stylesheet" href="static/test.css">

</head>

<!--Corpo/Body: Conteudo da página.-->
<body>

    <!--Div: Conteudos nessa tag serão estilisados pelo CSS.-->
    <div class="center">
        <h1 class="title">Perfil de {{g.user.username}}</h1>
        <br>

        <h2 class="subtitle">Logado com sucesso</h2>
        <br>

        <p>Nome de usuário: {{g.user.username}}</p>
        <p>Senha: {{g.user.password}}</p>
        <p>Id: {{g.user.id}}</p>
    </div>

</body>
</html>