<!DOCTYPE html>
<html lang="en">

<!--Cabeça/Head: Configurações da página.-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Titulo da página que aparece na aba.-->
    <title>Test</title>

    <!--Link: para connectar o html ao css.-->
    <link rel="stylesheet" href="static/test.css">

</head>

<!--Corpo/Body: Conteudo da página.-->
<body>

    <!--Div: Conteudos nessa tag serão estilisados pelo CSS.-->
    <div class="center">
        <h1>Test</h1>
        <br>

        <h2>Login Successful</h2>
        <br>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum placeat voluptatem maxime earum nisi beatae repudiandae quod minima molestias, esse tempore est ipsam sed reprehenderit sapiente dicta dolor! Commodi, pariatur.</p>
    </div>

</body>
</html>